.feed {
  flex: 1;
  border-right: 1px solid var(--warble-hover);
  min-width: fit-content;
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.feed::-webkit-scrollbar {
  display: none;
}

.feed__header {
  position: sticky;
  top: 0;
  background-color: var(--warble-background);
  z-index: 100;
  border-bottom: 1px solid var(--warble-hover);
  padding: 15px 20px;
}

.feed__header > h2 {
  font-size: 23px;
  font-weight: 800;
}
